<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Gen 721</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script>
      // Generates a random hash and token id each time you reload, in the following format
      //let tokenData = {"hash":"0xd9134c11cd5ed9798ea0811364d63bd850c69c5d13383c9983ade39847e9ea86","tokenId":"99000000"};
      
      function genTokenData(projectNum)
      {
          let data = {};
          let hash = "0x";
          for (var i = 0; i < 64; i++)
          {
              hash += Math.floor(Math.random() * 16).toString(16);
          }
          data.hash = hash;
          data.tokenId = projectNum * 1000000 + Math.floor(Math.random() * 1000);
          return data;
      }
      let tokenData = genTokenData(99);
    </script>
    <script src="./js/p5.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="./js/index.js"></script>
</html>