<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Gen 721</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script src="./js/p5.js"></script>
  </head>
  <body>
    {{{body}}}
    <script src="./js/getTokenData.js" tokenHash={{tokenHash}}></script>
  </body>
  <script src="./js/index.js"></script>
</html>